/* main */

body {
    background-color: #ade8f4;
    color: #023e8a;
}
body a {
    text-decoration: none;
}

.welcome-picture {
    background-image: url("images/fish1.jpg");
    background-position: center;
    background-size: cover;
    min-height: 600px;
    width: 100%;
}

.center {
    max-width: 65%;
}