/* main */

body {
    background-color: #ade8f4;
    color: #023e8a;
}
body a {
    text-decoration: none;
}

.welcome-picture {
    background-image: url("images/fish1.jpg");
    background-position: center;
    background-size: cover;
    min-height: 600px;
    width: 100%;
}

.center {
    max-width: 65%;
}
/* --------------- colors  */

.text-black {
    color: black;
}

.text-white {
    color: white;
}
/* ------------------ picture  */

.bg-some {
    background-color: #023e8a;
    opacity: 0.6;
}

/* ---------------- description */
#description {
    min-height: 300px;
}

/* ----------------products */

#products {
    min-height: 600px;
}

/* -------------------- footer */
footer {
    background-color: #023e8a;
    color: #ade8f4;
    min-height: 120px;
}